flask==3.0.0
flask-cors==4.0.0
pydantic
python-dotenv==1.0.0
requests==2.31.0
beautifulsoup4==4.12.2
pandas
numpy==1.26.3
dnspython==2.4.2
validate-email-address==1
disposable-email-domains==0.0.95
openai==1.6.1
mistralai